* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'AAvanteBsNrBold'; }

@font-face {
  font-family: 'AAvanteBsNrBold';
  src: url("../fonts/AAvanteBsNrBold.woff") format("woff"), url("../fonts/AAvanteBsNrBold.ttf") format("truetype"), url("../fonts/AAvanteBsNrBold.svg#AAvanteBsNrBold") format("svg");
  font-weight: normal;
  font-style: normal; }

h3 {
  margin-top: 0px;
  font-size: 36px; }

h4 {
  font-size: 24px; }

p {
  color: #6c6a68;
  font-size: 16px; }

button {
  font-size: 18px;
  background: transparent;
  width: 30%;
  height: 50px;
  color: #c0a064;
  border: 2px solid #c0a064; }
  button:hover {
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 3px 1px red;
    box-shadow: 0px 0px 3px 1px red;
    color: red;
    border: 2px solid red; }

.action {
  border: 2px solid #c0a064; }

.header {
  padding-bottom: 120px;
  background: url(../images/one.png); }

.navbar {
  margin: 10px 120px 300px 130px; }
  .navbar .mobile {
    display: none; }
    @media (max-width: 760px) {
      .navbar .mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    .navbar .mobile li {
      background: url(../images/lioneone.png);
      background-position: 35px;
      height: 25px;
      width: 26px; }
      .navbar .mobile li.fotik {
        background-position: 0px; }
      .navbar .mobile li.panel {
        background-position: 35px; }
  .navbar .decstop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 760px) {
      .navbar .decstop {
        display: none; } }
    .navbar .decstop .sprite li {
      background: url(../images/lione.png); }
      .navbar .decstop .sprite li.fotik {
        background-position: 179px; }
      .navbar .decstop .sprite li.be {
        background-position: 142px; }
      .navbar .decstop .sprite li.fb {
        background-position: 102px; }
      .navbar .decstop .sprite li.tw {
        background-position: 65px; }
      .navbar .decstop .sprite li.foto {
        background-position: 23px; }

.sprite.mobile li {
  position: relative; }
  .sprite.mobile li ul {
    display: none;
    margin: 0px;
    padding: 0px; }
  .sprite.mobile li:hover ul {
    display: block;
    position: absolute;
    left: 20px;
    top: -8px; }

ul {
  padding: 0px; }
  ul li {
    display: inline-block;
    margin: 10px; }

a:hover {
  font-size: 21px;
  color: red; }

.sprite a {
  display: block;
  height: 25px;
  width: 26px; }

.content {
  margin: 320px 120px 115px 130px;
  text-align: center; }
  .content h1 {
    font-size: 60px;
    margin-bottom: 100px;
    color: #c0a064; }
    .content h1:after {
      content: "for photographers";
      display: block;
      font-size: 24px;
      color: #6c6a68; }

.cover {
  margin-left: 130px;
  margin-right: 120px;
  margin-top: 126px;
  margin-bottom: 126px;
  text-align: center; }

.center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 760px) {
    .center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

img {
  width: 100%;
  height: 100%; }

.block {
  margin: 30px 0px 30px 0px;
  width: 100%; }

.block.one {
  width: 65%; }
  @media (max-width: 760px) {
    .block.one {
      width: 100%; } }

.block.two {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 760px) {
    .block.two {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%; }
      .block.two .first, .block.two .last {
        width: 47%; } }

.collections {
  margin-left: 130px;
  margin-right: 120px; }

.center.two {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .center.two .img {
    width: 50%; }
    @media (max-width: 760px) {
      .center.two .img {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%; } }
  .center.two .text {
    padding: 5%;
    width: 45%;
    background: white; }
    @media (max-width: 760px) {
      .center.two .text {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        padding: 10%; } }
  @media (max-width: 760px) {
    .center.two {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; }
      .center.two:nth-child(even) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }

.form {
  overflow: hidden;
  margin-left: 130px;
  margin-right: 120px;
  margin-top: 130px;
  margin-bottom: 130px;
  text-align: center; }
  .form .input {
    width: 30%; }
    @media (max-width: 760px) {
      .form .input {
        width: 50%; } }
    .form .input .action {
      width: 100%; }
  @media (max-width: 760px) {
    .form button {
      width: 50%; } }

.request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

li {
  background: transparent; }

.footer {
  margin-left: 130px;
  margin-right: 120px;
  text-align: center; }
  .footer li {
    background: url(../images/litwo.png); }
    .footer li.be {
      background-position: -10px; }
    .footer li.fb {
      background-position: -51px; }
    .footer li.tw {
      background-position: -85px; }
    .footer li.foto {
      background-position: -132px; }

input:focus:required {
  border: rgba(255, 0, 0, 0.3) 2px solid;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red; }

input:focus:valid {
  -webkit-box-shadow: 0 0 5px #5cd053;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f; }
